doctype html
  html
  head
    title Next One
    link(rel="stylesheet" rel="main-2.css")
    meta(charset="UTF-8")
    meta(name="viewport"content="width=device-width,initial-scale=1.0")
  body
    p This example