body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd0a8;
  font-family: sans-serif;
  color: #333;
  font-weight: 400;
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
  flex: 0 0 80%;
}

#quoteBtn {
  border: none;
  color: aquamarine;
  background: #d89156;
  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

#quoteBtn:hover {
  color: yellow;
}

blockquote{
  background: white;
  border-left:5px solid rgb(75, 45, 75);
  margin: 1.5rem;
  padding: 0.5rem;
}

#quoteAuthor {
  color: rgb(230, 53, 53);
}

